@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  border-radius: 12px;
}
.logoTitle {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
}
*{
  font-family: "Poppins", sans-serif;
}
.topTitle{
  height: 10vh;
}
.mainContainer{
  margin: auto;
  width: 99vw;
}
li{
  font-family: cursive;
}
.mar{
  padding: 30px;
  margin: 10px 30px;
}
.w20{
  width: 20vw;
  border-radius: 12px;
}
.w60{
  border-radius: 8px;
  padding: 20px;
  width: 70vw;
  margin: auto;
}
body{
  height: 200vh;
}
.w99{
  width:  99vw;
}
.t10{
  top: 10vh;

}
.title{
  font-size: xx-large;
  font-weight: 500;
}
.subtitle{
  font-size: large;
font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.subnav{
  font-size: larger;
  
}